{% extends 'base_signup.html' %}
{% load bootstrap4 %}

{% block title %} Login {% endblock %}
{% block heading %} Book Shop Login page {% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Owner</h3>
    {% bootstrap_form user_form %}
    <h3>Book Shop</h3>
    {% bootstrap_form book_shop_form %}
    <button type="submit" class="btn btn-danger float-right">SignUp</button>
</form>
<a href="{% url 'shopapp-sign-in' %}">Login</a>
{% endblock %}

